[Unit]
Description=AutioPI

[Service]
Type=simple
ExecStart=/bin/bash -c 'exec python3 /home/pi/audiopi/player/controller.py'
SyslogIdentifier=audiopi
User=pi
Restart=always

[Install]
WantedBy=multi-user.target
